.target-card {
  width: 100%;
  background-color: rgba(var(--card-bg-rgb), 0.9);
  border-radius: 50px;
  padding: 2.5rem;
  box-shadow: var(--shadow);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.target-card h2 {
  margin-bottom: 40px;
}
