.card.target-card {
  width: 100%;
  padding: 1.5rem;
  margin-top: 1.5rem;
  /* box-shadow: var(--shadow);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; */
}
